<!DOCTYPE html>
<html lang="en">
    <head>
      <title>行政管理费用统计</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
      <link rel='stylesheet' href='/stylesheets/style.css'/>

      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <script src="/javascripts/bootbox.js"></script>

      <script>
        $(document).ready(function(){
          $("#btnGenerate").click(function (e) {
            var month = $("#month").val();
            if (!month) {
              bootbox.alert("请输入月份！");
              return;
            }
            if (!/^(\d{4}-\d{2})$/.test(month)) {
              bootbox.alert("月份格式不正确！请按\"yyyy-mm\"格式填写");
              return;
            }
            window.location.href = "/adminfees?month=" + month;
          });

          var myTable = document.getElementById("myTable");
          for (var j = 0; j < myTable.rows[1].cells.length - 1; j++) {
            if (j == 13) continue; //总经理支出
            myTable.rows[1].cells[j].onclick = (function (j) {
              return function () {
                var query = {month: window.location.href.split('?')[1].substring(6, 13)};
                var ch;
                switch (j) {
                  case 0:
                    query.detail = 'rent';
                    ch = '房租';
                    break;
                  case 1:
                    query.detail = 'property';
                    ch = '物业费';
                    break;
                  case 2:
                    query.detail = 'social';
                    ch = '社保';
                    break;
                  case 3:
                    query.detail = 'tax';
                    ch = '税款';
                    break;
                  case 4:
                    query.detail = 'utilities';
                    ch = '水电费';
                    break;
                  case 5:
                    query.detail = 'salary';
                    ch = '工资';
                    break;
                  case 6:
                    query.detail = 'telebill';
                    ch = '电话费';
                    break;
                  case 7:
                    query.detail = 'carrage';
                    ch = '运费';
                    break;
                  case 8:
                    query.detail = 'company';
                    ch = '公司运营费';
                    break;
                  case 9:
                    query.detail = 'birthday';
                    ch = '聚餐及生日';
                    break;
                  case 10:
                    query.detail = 'gas';
                    ch = '加油卡';
                    break;
                  case 11:
                    query.detail = 'interest';
                    ch = '银行利息';
                    break;
                  case 12:
                    query.detail = 'reserved';
                    ch = '公积金';
                    break;
                  case 14:
                    query.detail = 'others';
                    ch = '其他';
                    break;
                }
                $.get("/adminfees/detail", query, function (adminfees) {
                  var dvHtml = "<tr class=\"info\">" +
                    "<th>月份</th>" +
                    "<th>编号</th>" +
                    "<th>项目</th>" +
                    "<th>金额</th>" +
                    "<th>备注</th>" +
                    "<th>创建时间</th>" +
                    "<th>操作</th>" +
                  "</tr>";
                  adminfees.forEach(function (adminfee) {
                    var date = new Date(adminfee.create_at);
                    var dateStr = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2) + ' ' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2);
                    dvHtml += "<tr>" + 
                      "<td>" + query.month + "</td>" +
                      "<td>" + adminfee.serial_number + "</td>" +
                      "<td>" + ch + "</td>" + 
                      "<td>" + adminfee.money + "</td>" + 
                      "<td>" + adminfee.comment + "</td>" + 
                      "<td>" + dateStr + "</td>";
                    if ('<%= user.role %>' === 'treasurer' && !adminfee.dlt) {
                      dvHtml += "<td><button class=\"btn btn-danger btn-sm\" onclick=\"myDelete('" + adminfee._id + "')\">删除</button></td>";
                    } else if ('<%= user.role %>' === 'treasurer' && adminfee.dlt) {
                      dvHtml += "<td><button class=\"btn btn-danger btn-sm\" disabled>删除</button></td>";
                    } else if ('<%= user.role %>' === 'admin' && adminfee.dlt) {
                      dvHtml += "<td><button class=\"btn btn-danger btn-sm\" onclick=\"myDelete('" + adminfee._id + "')\">通过</button></td>";
                    } else {
                      dvHtml += "<td><button class=\"btn btn-danger btn-sm\" disabled>通过</button></td>";
                    }
                    dvHtml += "</tr>";
                  });
                  $("#detailTable").html(dvHtml);
                });
              };
            }(j));
          }
        });

        function myDelete(_id) {
          $.post("/adminfees/delete/" + _id, function (adminfee) {
            var str;
            if ('<%= user.role %>' === 'treasurer')
              str = "已发送删除申请！";
            else
              str = "删除成功！";
            bootbox.alert(str, function () {
              window.location.href = "/adminfees";
            });
          })
        }
      </script>

    </head>

    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">
                <span>&nbsp杰世欣Online&nbsp</span>
                <img src="/logo.png" class="pull-left" alt="logo" width="40" height="45" style="margin-top: -12px;">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if (user.role === 'treasurer') { %>
              <li><a href="/treasurer">新建财报</a></li>
              <% } %>
              <li><a href="/profits">毛利统计</a></li>
              <li><a href="/adminfees">行政管理费用统计</a></li>
              <li><a href="/managefees">总经办支出</a></li>
              <li><a href="/total">合计</a></li>
              <li><a href="/cashflow">现金流水</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <% if (user.role === 'treasurer') { %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">财务 (<%= user.id %>)<span class="caret"></span></a>
                <% } else { %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员 (<%= user.id %>)<span class="caret"></span></a>
                <% } %>
                <ul class="dropdown-menu">
                  <li><a href="/logout">登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <body>
      <div class="container-fluid">
        <div class="page-header">
          <form class="form-inline">
            <div class="form-group">
              <label><h4>月份 : &nbsp; </h4></label>
              <input id="month" type="text" class="form-control" value=<%= month %>>
              <button type="button" class="btn btn-primary" id="btnGenerate">生成</button>
            </div>
          </form>
        </div>
        <table class="table table-bordered" id="myTable">
          <tr class="info">
            <th>房租</th>
            <th>物业费</th>
            <th>社保</th>
            <th>税款</th>
            <th>水电费</th>
            <th>工资</th>
            <th>电话费</th>
            <th>运费</th>
            <th>公司运营费</th>
            <th>聚餐及生日</th>
            <th>加油卡</th>
            <th>银行利息</th>
            <th>公积金</th>
            <th>总经理支出</th>
            <th>其他</th>
            <th>合计</th>
          </tr>
          <tr>
            <% if (flag[0]) { %>
            <td style="background-color:#d9edf7"><%= cell[0] %></td>
            <% } else { %>
            <td><%= cell[0] %></td>
            <% } %>

            <% if (flag[1]) { %>
            <td style="background-color:#d9edf7"><%= cell[1] %></td>
            <% } else { %>
            <td><%= cell[1] %></td>
            <% } %>

            <% if (flag[2]) { %>
            <td style="background-color:#d9edf7"><%= cell[2] %></td>
            <% } else { %>
            <td><%= cell[2] %></td>
            <% } %>

            <% if (flag[3]) { %>
            <td style="background-color:#d9edf7"><%= cell[3] %></td>
            <% } else { %>
            <td><%= cell[3] %></td>
            <% } %>

            <% if (flag[4]) { %>
            <td style="background-color:#d9edf7"><%= cell[4] %></td>
            <% } else { %>
            <td><%= cell[4] %></td>
            <% } %>

            <% if (flag[5]) { %>
            <td style="background-color:#d9edf7"><%= cell[5] %></td>
            <% } else { %>
            <td><%= cell[5] %></td>
            <% } %>

            <% if (flag[6]) { %>
            <td style="background-color:#d9edf7"><%= cell[6] %></td>
            <% } else { %>
            <td><%= cell[6] %></td>
            <% } %>

            <% if (flag[7]) { %>
            <td style="background-color:#d9edf7"><%= cell[7] %></td>
            <% } else { %>
            <td><%= cell[7] %></td>
            <% } %>

            <% if (flag[8]) { %>
            <td style="background-color:#d9edf7"><%= cell[8] %></td>
            <% } else { %>
            <td><%= cell[8] %></td>
            <% } %>

            <% if (flag[9]) { %>
            <td style="background-color:#d9edf7"><%= cell[9] %></td>
            <% } else { %>
            <td><%= cell[9] %></td>
            <% } %>

            <% if (flag[10]) { %>
            <td style="background-color:#d9edf7"><%= cell[10] %></td>
            <% } else { %>
            <td><%= cell[10] %></td>
            <% } %>

            <% if (flag[11]) { %>
            <td style="background-color:#d9edf7"><%= cell[11] %></td>
            <% } else { %>
            <td><%= cell[11] %></td>
            <% } %>

            <% if (flag[12]) { %>
            <td style="background-color:#d9edf7"><%= cell[12] %></td>
            <% } else { %>
            <td><%= cell[12] %></td>
            <% } %>

            <td><%= cell[13] %></td>

            <% if (flag[14]) { %>
            <td style="background-color:#d9edf7"><%= cell[14] %></td>
            <% } else { %>
            <td><%= cell[14] %></td>
            <% } %>

            <td><%= cell[15] %></td>
          </tr>
        </table>
        <table class="table table-bordered" id="detailTable">
        </table>
        <p class="text-center text-muted">
          © 版权所有 南京杰世欣计算机科技有限公司
        </p>
      </div>
    </body>
</html>
