<!DOCTYPE html>
<html lang="en">
    <head>
        <title>新建报修单</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
        <link rel='stylesheet' href='/stylesheets/style.css'/>

        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/bootstrap.js"></script>
    </head>

    <body>
      <div class="container-fluid">
        <div class="row">
          <form class="form center-block form-horizontal" method="post" style="width:40%">
            <% if (success) { %>
              <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= success %>
              </div>
            <% } %>
            <div class="form-group">
                <label for="client.unit" class="col-sm-2 control-label">客户单位</label>
                <div class="col-sm-10">
                    <input name="client.unit" class="form-control" list="unit" required="true">
                    <datalist id="unit">
                      <% units.forEach(function (unit) { %>
                        <option value=
                          <%= unit %>
                        >
                      <% }); %>
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <label for="client.name" class="col-sm-2 control-label">客户姓名</label>
                <div class="col-sm-10">
                    <input name="client.name" class="form-control" list="name" required="true">
                    <datalist id="name">
                      <% names.forEach(function (name) { %>
                        <option value=
                          <%= name %>
                        >
                      <% }); %>
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <label for="client.address" class="col-sm-2 control-label">客户地址</label>
                <div class="col-sm-10">
                    <input name="client.address" class="form-control" list="address" required="true">
                    <datalist id="address">
                      <% addresses.forEach(function (address) { %>
                        <option value=
                          <%= address %>
                        >
                      <% }); %>
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <label for="client.phone_no" class="col-sm-2 control-label">客户电话</label>
                <div class="col-sm-10">
                    <input name="client.phone_no" class="form-control" list="phone_no" required="true">
                    <datalist id="phone_no">
                      <% phone_nos.forEach(function (phone_no) { %>
                        <option value=
                          <%= phone_no %>
                        >
                      <% }); %>
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <label for="deliver" class="col-sm-2 control-label">送货服务</label>
                <div class="col-sm-10">
                    <input name="deliver" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="debug" class="col-sm-2 control-label">安装调试</label>
                <div class="col-sm-10">
                    <input name="debug" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="visit" class="col-sm-2 control-label">上门服务</label>
                <div class="col-sm-10">
                    <input name="visit" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="install" class="col-sm-2 control-label">安装单</label>
                <div class="col-sm-10">
                    <input name="install" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="warehouse" class="col-sm-2 control-label">库房安装</label>
                <div class="col-sm-10">
                    <input name="warehouse" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="outgoing" class="col-sm-2 control-label">出库单号</label>
                <div class="col-sm-10">
                    <input name="outgoing" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="saler" class="col-sm-2 control-label">销售人员</label>
                <div class="col-sm-10">
                    <select name="saler" class="form-control" required="true">
                      <option value="">请选择</option>
                      <% salers.forEach(function (saler) { %>
                        <option value=
                          <%= saler %>
                        >
                          <%= saler %>
                        </option>
                      <% }); %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="value" class="col-sm-2 control-label">分值</label>
                <div class="col-sm-10">
                    <input name="value" class="form-control" required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="engineer" class="col-sm-2 control-label">工程师</label>
                <div class="col-sm-10">
                    <select name="engineer" class="form-control" required="true">
                      <option value="">请选择</option>
                      <% engineers.forEach(function (engineer) { %>
                        <option value=
                          <%= engineer %>
                        >
                          <%= engineer %>
                        </option>
                      <% }); %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">创建</button>
                    <a class="btn btn-primary" href="/logout">注销(<%= user.id %>)</a>
                </div>
            </div>
            <p class="text-center text-muted">
                © 版权所有 南京杰世欣商务
            </p>
          </form>
        </div>
      </div>
    </body>
</html>