<!DOCTYPE html>
<html lang="en">
    <head>
      <title>预存记录</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
      <link rel='stylesheet' href='/stylesheets/style.css'/>

      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <script src="/javascripts/bootbox.js"></script>

      <script>
        $(document).ready(function(){
          $("#saler option").each(function () {
            this.selected = (this.text == '<%= saler %>');
          });
          mySalerChange();

          $("#saler").change(function () {
            if ($("#saler").val())
              window.location.href = "/prestore?saler=" + $("#saler").val();
            else
              window.location.href = "/prestore";
          });
        });

        function mySalerChange() {
          var myHtml = "<tr class=\"info\">" + 
            "<th>销售人员</th>" + 
            "<th>客户</th>" + 
            "<th>联系人</th>" + 
            "<th>余额</th>" + 
            "</tr>";

          $.get("/prestore/detail", {saler: $("#saler").val()}, function (prestore) {
            var data = [];
            prestore.forEach(function (entry) {
              var i;
              for (i = 0; i < data.length; i++) {
                if (data[i].client == entry.client && data[i].contacter == entry.contacter) {
                  if (entry.detail == "income") data[i].account += entry.money;
                  else data[i].account -= entry.money;
                  data[i].dlt = data[i].dlt || entry.dlt;
                  break;
                }
              }
              if (i == data.length) {
                var account = (entry.detail == "income") ? entry.money : (- entry.money);
                data[i] = {saler: entry.saler, client: entry.client, contacter: entry.contacter, account: account, dlt: entry.dlt};
              }
            });
            
            data.forEach(function (entry) {
              if (entry.dlt && '<%= user.role %>' === 'admin')
                myHtml += "<tr style=\"background-color:#d9edf7\" onclick=\"myFunction ('" + entry.saler + "','" + entry.client + "','" + entry.contacter + "')\">";
              else
                myHtml += "<tr onclick=\"myFunction ('" + entry.saler + "','" + entry.client + "','" + entry.contacter + "')\">";
              myHtml += "<td>" + entry.saler + "</td>" + 
                "<td>" + entry.client + "</td>" + 
                "<td>" + entry.contacter + "</td>" + 
                "<td>" + entry.account + "</td>" + 
                "</tr>";
            });
            $("#myTable").html(myHtml);
            $("#detailTable").html("");
          });
        }

        function myFunction(saler, client, contacter) {
          var query = {saler: saler, client: client, contacter: contacter};
          $.get("/prestore/detail", query, function (prestore) {
            var dvHtml = "<tr class=\"info\">" +
              "<th>日期</th>" +
              "<th>编号</th>" +
              "<th>销售人员</th>" +
              "<th>客户</th>" +
              "<th>联系人</th>" +
              "<th>项目</th>" +
              "<th>发票号码/单号</th>" +
              "<th>金额</th>" +
              "<th>备注</th>" +
              "<th>创建时间</th>" +
              "<th>操作</th>" +
              "</tr>";
            prestore.forEach(function (entry) {
              var date = new Date(entry.create_at);
              var dateStr = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2) + ' ' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2);
              if (entry.detail == "income") {
                dvHtml += "<tr>" + 
                "<td>" + entry.date + "</td>" +
                "<td>" + entry.serial_number + "</td>" +
                "<td>" + entry.saler + "</td>" + 
                "<td>" + entry.client + "</td>" + 
                "<td>" + entry.contacter + "</td>" + 
                "<td>" + "预存" + "</td>" + 
                "<td>" + entry.invoice_number + "</td>" + 
                "<td>" + entry.money.toFixed(2) + "</td>" + 
                "<td>" + entry.comment + "</td>" + 
                "<td>" + dateStr + "</td>";
              } else {
                dvHtml += "<tr>" + 
                "<td><span style=\"color: #d9534f;\">" + entry.date + "</span></td>" +
                "<td><span style=\"color: #d9534f;\">" + entry.serial_number + "</span></td>" +
                "<td><span style=\"color: #d9534f;\">" + entry.saler + "</span></td>" + 
                "<td><span style=\"color: #d9534f;\">" + entry.client + "</span></td>" + 
                "<td><span style=\"color: #d9534f;\">" + entry.contacter + "</span></td>" + 
                "<td><span style=\"color: #d9534f;\">" + "冲抵" + "</span></td>" + 
                "<td><span style=\"color: #d9534f;\">" + entry.invoice_number + "</span></td>" + 
                "<td><span style=\"color: #d9534f;\">" + entry.money.toFixed(2) + "</span></td>" + 
                "<td><span style=\"color: #d9534f;\">" + entry.comment + "</span></td>" + 
                "<td><span style=\"color: #d9534f;\">" + dateStr + "</span></td>";
              }
              
              if ('<%= user.role %>' === 'treasurer' && !entry.dlt) {
                dvHtml += "<td><button class=\"btn btn-danger btn-sm\" onclick=\"myDelete('" + entry._id + "')\">删除</button></td>";
              } else if ('<%= user.role %>' === 'treasurer' && entry.dlt) {
                dvHtml += "<td><button class=\"btn btn-danger btn-sm\" disabled>删除</button></td>";
              } else if ('<%= user.role %>' === 'admin' && entry.dlt) {
                dvHtml += "<td><button class=\"btn btn-danger btn-sm\" onclick=\"myDelete('" + entry._id + "')\">通过</button></td>";
              } else {
                dvHtml += "<td><button class=\"btn btn-danger btn-sm\" disabled>通过</button></td>";
              }
              dvHtml += "</tr>";
            });
            $("#detailTable").html(dvHtml);
          });
        };

        function myDelete(_id) {
          $.post("/prestore/delete/" + _id, function (prestore) {
            var str;
            if ('<%= user.role %>' === 'treasurer')
              str = "已发送删除申请！";
            else
              str = "删除成功！";
            bootbox.alert(str, function () {
              window.location.href = "/prestore?saler=" + $("#saler").val();
            });
          });
        }
      </script>

    </head>

    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">
                <span>&nbsp杰世欣Online&nbsp</span>
                <img src="/logo.png" class="pull-left" alt="logo" width="40" height="45" style="margin-top: -12px;">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if (user.role === 'treasurer') { %>
              <li><a href="/treasurer">新建财报</a></li>
              <% } %>
              <li><a href="/profits">毛利统计</a></li>
              <li><a href="/adminfees">行政管理费用统计</a></li>
              <li><a href="/managefees">总经办支出</a></li>
              <li><a href="/total">合计</a></li>
              <li><a href="/cashflow">现金流水</a></li>
              <li><a href="/prestore">预存记录</a></li>
              <li><a href="/bidbond">投标保证金</a></li>
              <% if (user.role === 'admin') { %>
              <li><a href="/salesreport">销售报表</a></li>
              <li><a href="/bidmanagement">投标管理</a></li>
              <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <% if (user.role === 'treasurer') { %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">财务 (<%= user.id %>)<span class="caret"></span></a>
                <% } else { %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员 (<%= user.id %>)<span class="caret"></span></a>
                <% } %>
                <ul class="dropdown-menu">
                  <li><a href="/logout">登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <body>
      <div class="container-fluid">
        <div class="page-header">
          <form class="form-inline">
            <div class="form-group">
              <label><h4>销售人员 : &nbsp; </h4></label>
              <select id="saler" class="form-control">
                <option value="">请选择</option>
                <% salers.forEach(function (saler) { %>
                  <option value=
                    <%= saler %>
                  >
                    <%= saler %>
                  </option>
                <% }); %>
              </select>
            </div>
          </form>
        </div>
        <table class="table table-bordered" id="myTable">
          <tr class="info">
            <th>销售人员</th>
            <th>客户</th>
            <th>联系人</th>
            <th>余额</th>
          </tr>
        </table>

        <table class="table table-bordered" id="detailTable">
        </table>

        <p class="text-center text-muted">
          © 版权所有 南京杰世欣计算机科技有限公司
        </p>
      </div>
    </body>
</html>
