<!DOCTYPE html>
<html lang="en">
    <head>
      <title>毛利统计</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
      <link rel='stylesheet' href='/stylesheets/style.css'/>

      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>

      <script>
        $(document).ready(function(){
          $("#btnGenerate").click(function (e) {
            var month = $("#month").val();
            var factor = $("#factor").val();
            if (!month) {
              alert("请输入月份！");
              return;
            }
            if (!/^(\d{4}-\d{2})$/.test(month)) {
              alert("月份格式不正确！请按\"yyyy-mm\"格式填写");
              return;
            }
            if (!factor) {
              alert("请输入利润系数！");
              return;
            }
            if (isNaN(factor)) {
              alert("利润系数不合法！");
              return;
            }
            window.location.href = "/profits?month=" + month + "&factor=" + factor;
          });

          var myTable = document.getElementById("myTable");
          for (var i = 1; i < myTable.rows.length - 1; i++) {
            for (var j = 1; j < myTable.rows[i].cells.length - 2; j++) {
              myTable.rows[i].cells[j].onclick = (function (i, j) {
                return function () {
                  var query = {month: window.location.href.split('?')[1].substring(6, 13),
                    saler: myTable.rows[i].cells[0].innerHTML};
                  var ch;
                  switch (j) {
                    case 1:
                      query.detail = 'profit';
                      ch = '利润';
                      break;
                    case 2:
                      query.detail = 'travel';
                      ch = '差旅费';
                      break;
                    case 3:
                      query.detail = 'entertainment';
                      ch = '招待费';
                      break;
                    case 4:
                      query.detail = 'bidding';
                      ch = '投标费';
                      break;
                    case 5:
                      query.detail = 'brokerage';
                      ch = '佣金';
                      break;
                    case 6:
                      query.detail = 'others';
                      ch = '其他';
                      break;
                  }
                  //alert(JSON.stringify(query));
                  $.get("/profits/detail", query, function (profits) {
                    var dvHtml = "<tr class=\"info\">" +
                      "<th>月份</th>" +
                      "<th>销售人员</th>" +
                      "<th>项目</th>" +
                      "<th>金额</th>" +
                      "<th>备注</th>" +
                      "<th>创建时间</th>" +
                      "<th>操作</th>" +
                    "</tr>";
                    profits.forEach(function (profit) {
                      var date = new Date(profit.create_at);
                      var dateStr = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2) + ' ' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2);
                      dvHtml += "<tr>" + 
                        "<td>" + query.month + "</td>" +
                        "<td>" + query.saler + "</td>" + 
                        "<td>" + ch + "</td>" + 
                        "<td>" + profit.money + "</td>" + 
                        "<td>" + profit.comment + "</td>" + 
                        "<td>" + dateStr + "</td>";
                      if ('<%= user.role %>' === 'treasurer' && !profit.dlt) {
                        dvHtml += "<td><button class=\"btn btn-danger btn-sm\" onclick=\"myDelete('" + profit._id + "')\">删除</button></td>";
                      } else if ('<%= user.role %>' === 'treasurer' && profit.dlt) {
                        dvHtml += "<td><button class=\"btn btn-danger btn-sm\" disabled>删除</button></td>";
                      } else if ('<%= user.role %>' === 'admin' && profit.dlt) {
                        dvHtml += "<td><button class=\"btn btn-danger btn-sm\" onclick=\"myDelete('" + profit._id + "')\">通过</button></td>";
                      } else {
                        dvHtml += "<td><button class=\"btn btn-danger btn-sm\" disabled>通过</button></td>";
                      }
                      dvHtml += "</tr>";
                    });
                    $("#detailTable").html(dvHtml);
                  });
                };
              }(i, j));
            }
          }
        });

        function myDelete(_id) {
          //alert(_id);
          $.post("/profits/delete/" + _id, function (profit) {
            if ('<%= user.role %>' === 'treasurer')
              alert("已发送删除申请！");
            else
              alert("删除成功！");
            window.location.href = "/profits";
          })
        }
      </script>

    </head>

    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">
                <span>&nbsp杰世欣Online&nbsp</span>
                <img src="/logo.png" class="pull-left" alt="logo" width="40" height="45" style="margin-top: -12px;">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if (user.role === 'treasurer') { %>
              <li><a href="/treasurer">新建财报</a></li>
              <% } %>
              <li><a href="/profits">毛利统计</a></li>
              <li><a href="/adminfees">行政管理费用统计</a></li>
              <li><a href="/managefees">总经办支出</a></li>
              <li><a href="/total">合计</a></li>
              <li><a href="/cashflow">现金流水</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <% if (user.role === 'treasurer') { %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">财务 (<%= user.id %>)<span class="caret"></span></a>
                <% } else { %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员 (<%= user.id %>)<span class="caret"></span></a>
                <% } %>
                <ul class="dropdown-menu">
                  <li><a href="/logout">登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <body>
      <div class="container-fluid">
        <div class="page-header">
          <form class="form-inline">
            <div class="form-group">
              <label><h4>月份 : &nbsp; </h4></label>
              <input id="month" type="text" class="form-control" value=<%= month %>>
            </div>

            <div class="form-group pull-right">
              <label><h4>利润系数 : &nbsp; </h4></label>
              <input id="factor" type="text" class="form-control" value=<%= factor %>>
              <button type="button" class="btn btn-primary" id="btnGenerate">生成</button>
            </div>
          </form>
        </div>
        <table class="table table-bordered" id="myTable">
          <tr class="info">
            <th>姓名</th>
            <th>利润（系统毛利）</th>
            <th>差旅费</th>
            <th>招待费</th>
            <th>投标标书费</th>
            <th>佣金</th>
            <th>其他</th>
            <th>月度毛利</th>
            <th>净利润</th>
          </tr>
          <% salers.forEach(function (saler, i) { %>
          <tr>
            <td><%= saler %></td>

            <% if (flags[i][0]) { %>
            <td style="background-color:#d9edf7"><%= cells[i][0] %></td>
            <% } else { %>
            <td><%= cells[i][0] %></td>
            <% } %>

            <% if (flags[i][1]) { %>
            <td style="background-color:#d9edf7"><%= cells[i][1] %></td>
            <% } else { %>
            <td><%= cells[i][1] %></td>
            <% } %>

            <% if (flags[i][2]) { %>
            <td style="background-color:#d9edf7"><%= cells[i][2] %></td>
            <% } else { %>
            <td><%= cells[i][2] %></td>
            <% } %>

            <% if (flags[i][3]) { %>
            <td style="background-color:#d9edf7"><%= cells[i][3] %></td>
            <% } else { %>
            <td><%= cells[i][3] %></td>
            <% } %>

            <% if (flags[i][4]) { %>
            <td style="background-color:#d9edf7"><%= cells[i][4] %></td>
            <% } else { %>
            <td><%= cells[i][4] %></td>
            <% } %>

            <% if (flags[i][5]) { %>
            <td style="background-color:#d9edf7"><%= cells[i][5] %></td>
            <% } else { %>
            <td><%= cells[i][5] %></td>
            <% } %>

            <td><%= cells[i][6] %></td>
            <td><%= cells[i][7].toFixed(2) %></td>
          </tr>
          <% }); %>
          <tr>
            <td>合计</td>
            <td><%= total[0] %></td>
            <td><%= total[1] %></td>
            <td><%= total[2] %></td>
            <td><%= total[3] %></td>
            <td><%= total[4] %></td>
            <td><%= total[5] %></td>
            <td><%= total[6] %></td>
            <td><%= total[7].toFixed(2) %></td>
          </tr>
        </table>
        <table class="table table-bordered" id="detailTable">
        </table>
        <p class="text-center text-muted">
          © 版权所有 南京杰世欣计算机科技有限公司
        </p>
      </div>
    </body>
</html>
