<!DOCTYPE html>
<html lang="en">
    <head>
      <title>毛利统计</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <link rel='stylesheet' href='/stylesheets/datepicker.css'>

      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <script src="/javascripts/bootstrap-datepicker.js"></script>

      <script>
        $(document).ready(function(){
          $("#btnGenerate").click(function (e) {
            var month = $("#month").val();
            var factor = $("#factor").val();
            if (!month) {
              bootbox.alert("请输入月份！");
              return;
            }
            if (!/^(\d{4}-\d{2})$/.test(month)) {
              bootbox.alert("月份格式不正确！请按\"yyyy-mm\"格式填写");
              return;
            }
            window.location.href = "/total?month=" + month + "&factor=" + factor;
          });

          $('#month').datepicker({
            format: 'yyyy-mm',
            viewMode: "months", 
            minViewMode: "months"
          });
        });
      </script>
    </head>

    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">
                <span>&nbsp杰世欣Online&nbsp</span>
                <img src="/logo.png" class="pull-left" alt="logo" width="40" height="45" style="margin-top: -12px;">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if (user.role === 'treasurer') { %>
              <li><a href="/treasurer">新建财报</a></li>
              <% } %>
              <li><a href="/profits">毛利统计</a></li>
              <li><a href="/adminfees">行政管理费用统计</a></li>
              <li><a href="/managefees">总经办支出</a></li>
              <li><a href="/total">合计</a></li>
              <li><a href="/cashflow">现金流水</a></li>
              <li><a href="/prestore">预存记录</a></li>
              <li><a href="/bidbond">投标保证金</a></li>
              <% if (user.role === 'admin') { %>
              <li><a href="/salesreport">销售报表</a></li>
              <li><a href="/bidmanagement">投标管理</a></li>
              <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <% if (user.role === 'treasurer') { %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">财务 (<%= user.id %>)<span class="caret"></span></a>
                <% } else { %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员 (<%= user.id %>)<span class="caret"></span></a>
                <% } %>
                <ul class="dropdown-menu">
                  <li><a href="/logout">登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <body>
      <div class="container-fluid">
        <div class="page-header">
          <form class="form-inline">
            <div class="form-group">
              <label><h4>月份 : &nbsp; </h4></label>
              <input id="month" type="text" class="form-control" value=<%= month %>>
              <button type="button" class="btn btn-primary" id="btnGenerate">生成</button>
            </div>

            <div class="form-group pull-right">
              <label><h4>利润系数 : &nbsp; </h4></label>
              <input id="factor" type="text" class="form-control" disabled value=<%= factor %>>
            </div>
          </form>
        </div>
        <table class="table table-bordered">
          <tr class="info">
            <th>月度毛利</th>
            <th>行政管理费用</th>
            <th>月度利润</th>
          </tr>
          <tr>
            <td><%= gross.toFixed(2) %></td>
            <td><%= expend.toFixed(2) %></td>
            <td><%= (gross - expend).toFixed(2) %></td>
          </tr>
        </table>
        <p class="text-center text-muted">
          © 版权所有 南京杰世欣计算机科技有限公司
        </p>
      </div>
    </body>
</html>
